body {
  background-color: rgba(39, 38, 38, 0.849);
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
header {
  background-color: rgba(0, 0, 0, 0.441);
  margin: 0;
  margin-bottom: 9%;
  box-sizing: border-box;
  color: #fff;
  padding: 1.5% 5%;
  position: static;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  text-align: center;
}
.naavar {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  
}
.na-grid {
  display: flex;
  justify-content: center;
  padding-block: 0.5rem;
}

.navaar-text {
  color: white;
  border: none;
  padding: 0.125rem 0.5rem;
  margin-right: 3rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: background-color 0.6s ease;
}
.navaar-text:hover {
  background-color: #3467db;
  transform: scale(1.1);
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}
#navaar4 {
  margin-right: 0;
}
.box {
  display: flex;
  flex-direction: row;
  gap: 7rem;
  justify-content: center;
  flex-wrap: wrap;
}

#info {
  background-color: #848884;
  border-radius: 0.5rem ;
  border: 0.125rem solid #0b0202;
  box-shadow: 0 3.125rem 6.25rem rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  max-width: 21rem;
  margin-top: 0.625rem;
  cursor: default;
  backface-visibility: hidden;
  perspective: 62.5rem;
  text-rendering: optimizeLegibility;
  transition: transform 0.6s ease;
}
#info h1 {
  padding-left: 1.25rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: start;
  color: bisque;
}
#info p {
  padding: 0.625rem 1.25rem;
  font-size: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: start;
  color: bisque;
}
#info:hover {
  background-color: #848884;
  border-radius: 0.5rem;
  transform: scale(1.05) translateZ(0);
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}
#fieldset {
  width: 100%;
  border: 0.125rem solid #272626;
  border-radius: 0.5rem;
  padding-left: 1.875rem;
  padding-right: 2.5rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  background-color: #848884;
  box-shadow: 0 3.125rem 6.25rem rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
textarea::placeholder {
  opacity: 20%;
}
.text0 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 17px;
  color: black;
  background-color: rgba(250, 235, 215, 0.719);
  border-radius: 2mm;
  cursor: default;
}
.text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 13px;
}

#username , #email {
  text-align: center;
  background-color: #b2beb5;
  padding: 1mm 1mm;
  border-radius: 1mm;
  overflow-x: visible;
  width: 6cm;
  border: #848884;
}

#message {
  text-align: start;
  background-color: #b2beb5;
  padding: 0.3125rem 0.3125rem;
  border-radius: 1mm;
  width: 6cm;
  height: 1.5cm;
  border: #848884;
}

#send , #reset {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 1mm;
  box-shadow: none;
  border: none;
  margin-right: 10%;
  backface-visibility: hidden;
  perspective: 62.5rem;
  transition: transform 0.6s ease;
}

#send:hover , #reset:hover {
  background-color: white;
  border-radius: 1mm;
  transform: scale(1.07) translateZ(0);
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}

.links {
  border-radius: 1mm;
  transform: scale(1.1);
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s ease, transform 0.5s ease,
    box-shadow 0.5s ease;
}
.links:hover {
  background-color: #3467db;
  transform: scale(1.1);
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #333;
  color: #fff;
  text-align: center;
  padding-bottom: 1%;
}
#footer {
  padding: 1mm 2mm;
  border-radius: 1mm;
  margin: 1%;
  color: aliceblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.footer h3 {
  cursor: default;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@media screen and (min-width: 515px) and (max-width: 768px ) {
 
  .na-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer {
    position: relative;
    margin-top: 9%;
  }
  #info {
    margin: 0;
  }
  .box {
    gap: 4rem;
    margin-inline: auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 515px) {
  .na-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    justify-items: center;
    align-items: center;
  }
  .navaar-text {
    margin-right: 0;
  }
  .box {
    flex-direction: row;
  }
  .footer {
    position: relative;
    margin-top: 9%;
  }
  #info {
    margin: 0;
  }
  #info:hover {
    transform: scale(1);
  }
}
@media screen and (min-width: 200px) and (max-width: 320px) {
  .footer {
    position: relative;
    margin-top: 20%;
  }
  .na-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 0.25rem;
    justify-items: center;
    align-items: center;
  }
 
  #info {
    margin-inline: 2%;
  }
  #info:hover {
     transform: scale(1.00) ;
  }
  .navaar-text {
    margin-right: 0;
  }
} 